* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-color: grey;
}

section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

article {
	background-color: white;
	width: 23%;
	height: 60vh;
}

article > div {
	height: 38%;
	overflow: hidden;
}

div img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transform: scale(1.2);
}

.first-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 2px red solid;
	align-items: center;
}

.first-container > :last-child {
	text-align: center;
}
