* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-color: grey;
}

section {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

article {
	background-color: white;
	width: 23%;
	display: flex;
	flex-direction: column;
	border-radius: 3%;
	overflow: hidden;
}

article > div:first-child {
	height: 40%;
}

div img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transform: scale(1.1);
}

.first-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2rem;
	flex: 1;
}

.first-container h1 {
	padding-bottom: 1rem;
}

.last-container {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.last-container div {
	flex: 1;
	padding: 1rem 0;
}
